.register-table-wrapper.table-responsive {
    overflow-x: visible;
}

.register-table-wrapper.table-responsive table {
    width: 100% !important;
}

@media (max-width: 992px) {
    .register-table-wrapper.table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
